{
    "root": true,
    "extends": ["eslint:recommended"],
    "env": {
        "browser": true,
        "node": true,
        "es6": true
    },
    "parserOptions": {
        "ecmaVersion": 8,
        "sourceType": "module"
    },
    "rules": {
        "semi": "error",
        "no-unused-vars": "off"
    },
    "globals": {
        "logger": true,
        "utils": true,
        "CONSTS": true,
        "redisConnector": true,
        "Promise": true,
        "mysqlConnector": true,
        "mysqlPool": true,
        "cache": true,
        "answer": true,
        "redisClient": true,
        "exports": true,
        "loggerEx": true,
        "redisSync": true,
        "myDao": true,
        "logBuilder": true
    }
}